# Ignoriere alle Datenbankdump-Dateien
*.sql

# Ignoriere Verzeichnisse, die Datenbankkonfigurationen oder -dumps enthalten könnten
/db_backup/
/db_dump/

# Ignoriere von der Datenbank generierte Dateien
*.frm
*.ibd
*.MYD
*.MYI
*.idb

# Ignoriere Log-Dateien der Datenbank
*.log
