:root {
  --header-spacing: 3rem;
  --sidebar-width: 300px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

details {
  list-style: none;
}

details {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

summary {
  background-color: #f0f0f0;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

summary:hover {
  background-color: #e0e0e0;
}

details p {
  padding: 15px;
}

details p {
  transition: all 0.3s ease;
}

details:hover p {
  background-color: #fafafa;
}

.container, header, main {
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5 var(--header-spacing);
  background-color: #1E3A5F;
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

header .search, header .avatar {
  display: inline-block;
  gap: 1rem;
  margin-left: auto;
}

.nav-link {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
}

.nav-link:hover {
  background-color: cornflowerblue;
}

main {
  background: white;
  transition: margin-left .5s;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 5px;
  margin-bottom: 8%;
  padding-top: 60px;

  table {
    border-collapse: collapse;
    width: 20%;
    display: inline-block;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border-radius: 0;
  }
  
  table th {
    background-color: #f2f2f2;
    color: black;
  }
  
  table a {
    text-decoration: none;
    color: #333;
  }
  
  table a:hover {
    color: #4d73a6;
  }
  
  .button {
    background-color: #4CAF50; /* Hintergrundfarbe */
    border: none; /* Kein Rand */
    color: white; /* Textfarbe */
    padding: 15px 32px; /* Innenabstand */
    text-align: center; /* Text zentriert */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block-Element */
    font-size: 16px; /* Schriftgröße */
    margin: 4px 2px; /* Außenabstand */
    cursor: pointer; /* Zeigercursor */
    border-radius: 8px; /* Abgerundete Ecken */
    transition-duration: 0.4s; /* Übergangsdauer */
  }

    .button:hover {
      background-color: #388e3c; /* Dunklere Hintergrundfarbe */
  }

  .button:active {
      background-color: #1b5e20; /* Noch dunklere Hintergrundfarbe */
      transform: scale(0.95); /* Verkleinerung um 5% */
  }


}

aside {
  background: #CFC;
}

footer {
  background: var(--gradient-start);
  color: white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 18px;
  background-color: #4d73a6;
  position: fixed; 
  bottom: 0; 
}

nav {
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  cursor: pointer;
}
nav ul li a:hover {
  color: #1E3A5F;
  text-decoration: underline;
}

div.dynamic {
  border: 1px solid #2E8B57; 
  padding: 1rem;
}

.letterTable table {
  border-collapse: separate;
  width: 100%;
  border: 5px solid #8A8A8A; 
  margin: auto;
  overflow: hidden;
}
.letterTable td {
  text-align: center;
}
.letterTable .flex-container {
  display: flex;
  justify-content: space-between;
}

/* Versteckt den Output der Wahrscheinlichkeiten auf dem Learning Screen. */
#label-container div {
  display: none;
}
